# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Server
Database__Host=postgres
Database__Port=5432
Database__Database="${POSTGRES_DB}"
Database__Username="${POSTGRES_USER}"
Database__Password="${POSTGRES_PASSWORD}"
